
.main-header {
  background-color: crimson;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  margin-bottom: 25px;
  h1 {
    margin: 0;
  }
}
.main-nav{
  padding: 25px;
}
.avatar-img {
  max-width: 100px;
}

.button-green {
  background: teal;
  color: white;
  padding: 10px 15px;
  border:  none;
  margin-right: 5px;
  &:active, &focus {
    outline: none;
    border: none;
    background-color: darken(teal, 20);
  }
  &:hover {
    background-color: darken(teal, 10);
  }
}
